<!doctype html>
<!--
vim: ts=2 autoindent
-->
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Hypermedia: Taking your API to the next level</title>

		<meta name="description" content="A review of hypermedia basics, and how applying the hypermedia constraint impacts server and client">
		<meta name="author" content="Pete Johanson">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="css/reveal.min.css">
		<link rel="stylesheet" href="css/theme/night.css" id="theme">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- If the query includes 'print-pdf', include the PDF print sheet -->
		<script>
			if( window.location.search.match( /print-pdf/gi ) ) {
				var link = document.createElement( 'link' );
				link.rel = 'stylesheet';
				link.type = 'text/css';
				link.href = 'css/print/pdf.css';
				document.getElementsByTagName( 'head' )[0].appendChild( link );
			}
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section>
					<h1>Hypermedia</h1>
					<h3>Taking your APIs to the next level</h3>
					<p>
						<small>Pete Johanson / <a href="http://twitter.com/petejohanson">@petejohanson</a></small>
					</p>
				</section>

				<section>
					<h2>Hyper...what?</h2>
					<ul>
						<li>Traditional Web Apps - State entirely server side</li>
						<li>Web 2.0 - Spread state between server and client</li>
						<li>Alternative: HATEOAS</li>
						<li>Links Are Everything</li>
					</ul>

					<aside class="notes">
						<p>How many of you spend a large amount of time reading docs just to use an API?</p>
					</aside>
				</section>

				<section>
					<h2>HATEOAS</h2>
					<ul>
						<li>Hypermedia As The Engine Of Application State</li>
						<li>Mechanism for consolidating state on the server</li>
						<li>Reduce coupling</li>
						<li>Avoid duplication (e.g. web vs. mobile)</li>
						<li class="fragment">Ridiculous acronym<span class="fragment">... let's just call it Hypermedia Constraint</span></li>
					</ul>
				</section>

				<section>
					<h2>No Silver Bullet</h2>
					<ul>
						<li>More upfront design</li>
						<li>Larger payload size</li>
						<li>Tooling still evolving</li>
						<li>Potential uptake impact</li>
					</ul>
				</section>

				<section>
					<div class="two-column">
						<h4>Data-Centric API</h4>
						<pre><code data-trim data-lang="http">GET /orders/123 HTTP/1.1</code></pre>
						<pre class="fragment"><code data-trim data-lang="json">
{
  "id": "123",
  "dosage": "500MG",
  "route": "oral",
  "schedule": "BID",
  "prn": true
  ...
}
						</code></pre>
					</div>
					<aside class="notes">
						<ul>
							<li>What actions can be performed on this RX order?</li>
							<li>HAL used in examples</li>
						</ul>
					</aside>
					<div class="two-column fragment">
						<h4>Hypermedia Enabled</h4>
						<pre><code data-trim data-lang="http">GET /orders/123 HTTP/1.1</code></pre>
						<pre><code data-trim data-lang="json">
{
  "_links": {
    "self": { "href": "/orders/123" },
    "rx:verify": {
      href": "/orders/123/verify",
      title": "Verify"
    },
    "rx:flag": {
      "href": "/orders/123/flag",
      "title": "Flag"
    }
  },
  "dosage": "500MG",
  "route": "oral",
  "schedule": "BID",
  "prn": true
  ...
}
						</code></pre>
					</div>
				</section>

				<section>
					<h2>Hypermedia Clients</h2>
					<ul>
						<li>Coded against link relations</li>
						<li>Change state of client by following a given link</li>
						<li>Do <strong>not</strong> build URLs</li>
					</ul>
				</section>

				<section>
						<h4>Data-Centric API</h4>
						<pre><code data-trim data-lang="http">GET /posts?page=2&amp;size=5 HTTP/1.1</code></pre>
						<pre><code data-trim data-lang="json">
{
  "posts": [
    { "title": "Hypermedia!", "tags": ["rest", "hypermedia" ] },
    { "title": "REST and the client", "tags": ["rest", "javascript" ] },
    { "title": "HAL with Java: HALBuilder", "tags": ["hal", "java" ] },
    { "title": "Hypermedia Media Types", "tags": ["hypermedia" ] },
    { "title": "Custom Link Relations", "tags": ["hypermedia", "link-relations" ] }
  ]
}
						</code></pre>
						<aside class="notes">How do we get previous and next page? Direct page link?</aside>
					</section>

					<section>
					<section>
						<h4>Hypermedia Enabled</h4>
						<pre><code data-trim data-lang="http">GET /posts?page=2&amp;size=5 HTTP/1.1</code></pre>
						<pre><code data-trim data-lang="json">
{
  "_links": {
    "self": { "href": "/bob/is/your/uncle" },
    "next": { "href": "/oh/captain/my/captain" },
    "prev": { "href": "/foo/bar" },
  },
  "posts": [
    { "title": "Hypermedia!", "tags": ["rest", "hypermedia" ] },
    { "title": "REST and the client", "tags": ["rest", "javascript" ] },
    { "title": "HAL with Java: HALBuilder", "tags": ["hal", "java" ] },
    { "title": "Hypermedia Media Types", "tags": ["hypermedia" ] },
    { "title": "Custom Link Relations", "tags": ["hypermedia", "link-relations" ] }
  ]
}
						</code></pre>
						<aside class="notes">
							<ul>
								<li>URLs are <strong>opaque</strong>, randomized to emphasize point</li>
								<li>State, nor URLs!</li>
							</ul>
						</aside>
					</section>

					<section>
						<h4>View</h4>
						<pre><code data-trim data-lang="html">
<ul class="pagination">
  <li>
    &lt;a ng-click="{{follow('prev')}}" ng-class="{disabled: !page.$link('prev')}"&gt;&laquo;&lt;/a&gt;
  </li>
  <li>
    &lt;a ng-click="{{follow('next')}}" ng-class="{disabled: !page.$link('next')}"&gt;&raquo;&lt;/a&gt;
  </li>
</ul>
						</code></pre>
					</section>

					<section>
						<h4>Controller</h4>
					  <pre><code data-trim data-lang="javascript">
$scope.follow = function(rel) {
  $scope.page
    = $scope.page.$follow(rel);
};
						</code></pre>
					</section>
					</section>

					<section>
					<section>
						<h4>Direct Page Links: API</h4>
						<pre><code data-trim data-lang="http">GET /posts?page=2&amp;size=5 HTTP/1.1</code></pre>
						<pre><code data-trim data-lang="json">
{
  "_links": {
    "self": { "href": "/bob/is/your/uncle" },
    "next": { "href": "/oh/captain/my/captain" },
    "prev": { "href": "/foo/bar" },
    "section": [
      { "title": "1", "href": "/posts/page-one" },
      { "title": "2", "href": "/posts/page-two" },
      { "title": "3", "href": "/posts/page-three" },
      { "title": "4", "href": "/posts/page-four" },
    ]
  },
  "posts": [
    { "title": "Hypermedia!", "tags": ["rest", "hypermedia" ] },
    { "title": "REST and the client", "tags": ["rest", "javascript" ] },
    { "title": "HAL with Java: HALBuilder", "tags": ["hal", "java" ] },
    { "title": "Hypermedia Media Types", "tags": ["hypermedia" ] },
    { "title": "Custom Link Relations", "tags": ["hypermedia", "link-relations" ] }
  ]
}
						</code></pre>
					<aside class="notes">
						<ul>
							<li>Title of link provided by server</li>
						</ul>
					</aside>
				</section>

				<section>
					<h4>View</h4>
					<pre><code data-trim data-lang="html">
<ul class="pagination">
  <li>
    &lt;a ng-click="{{follow('prev')}}" ng-class="{disabled: !page.$link('prev')}"&gt;&laquo;&lt;/a&gt;
  </li>
  <li ng-repeat="s in page.$link('sections')"
      ng-class="{active: s.link === page.$link('self').href}">
    &lt;a ng-click="{{section(s)}}"&gt;{{s.title}}&lt;/a&gt;
  </li>
  <li>
    &lt;a ng-click="{{follow('next')}}" ng-class="{disabled: !page.$link('next')}"&gt;&raquo;&lt;/a&gt;
  </li>
</ul>
					</code></pre>
				</section>

				<section>
					<h4>Controller</h4>
				  <pre><code data-trim data-lang="javascript">
$scope.follow = function(rel) {
  $scope.page
    = $scope.page.$follow(rel);
};

$scope.section(s) = function() {
  $scope.page
    = $scope.page.$followLink(s);
};
					</code></pre>
				</section>
				</section>

				<section>
				  <h2>State Transitions &amp; Web Applications</h2>
					<ul>
					  <li>Web clients present unique challenge</li>
					  <li>Potentially mixing two URL spaces: API and client web app</li>
					  <li>Options:
						  <ul>
								<li>Black box web apps with single entry point</li>
								<li>Deep link-able web apps</li>
							</ul>
						</li>
					</ul>
				</section>

				<section>
					<h2>Black Box Web Apps</h2>
					<ul>
						<li>Single entry point parallels API root entry point</li>
						<li>State transitions flow from entry point</li>
						<li>No need to load state reached from multiple state transitions</li>
					</ul>
				</section>

				<section>
				<section>
				  <h2>Deep Linked Web Apps</h2>
					<ul>
					  <li>Mixes two URL spaces, API and client web app</li>
					  <li>Requires API state navigation based on web app state captured in URL</li>
					  <li>Increased coupling between client and API; API evolvability impacted</li>
					  <li>URI Templates (rfc6570) allow transfer of state from client to API </li>
					</ul>
				</section>

				<section>
					<h2>Deep Link API Sample</h2>
					<pre><code data-trim data-lang="http">GET /api HTTP/1.1</code></pre>
					<pre><code data-trim data-lang="json">
{
  "_links": {
    "post-template": {
      "href": "/api/posts{/id}",
      "templated": true
    }
  }
}
					</code></pre>
				</section>

				<section>
					<h2>Deep Link Client Sample</h2>
					<h4>Route Registration</h4>
					<pre><code data-trim data-lang="javascript">
$routeProvider
  .when('/post/:postId', {
    controller: 'PostCtrl',
    templateUrl: 'post/view.html',
    resolve: {
      root: function() {
        hrResource('/api').get();
      }
    }
  });
					</code></pre>
					<h4>Controller</h4>
					<pre><code data-trim data-lang="javascript">
angular.module('nerdSummitSampleApp')
  .controller('PostCtrl', function ($scope, $routeParams, root) {
    $scope.post = root.$follow('post-template', { data: $routeParams.postId });
  });
					</code></pre>
				</section>

				<section>
					<h2>Future Exploration</h2>
					<ul>
						<li>Routing mechanism that is 'hypermedia backend aware'</li>
						<li>Every step of state change from root inspects URI Template variables and uses in web app route.</li>
					</ul>
				</section>
				</section>

				<section>
					<h2>Resources</h2>
					<ul>
						<li>API-Craft Google Group - <a href="https://groups.google.com/forum/#!forum/api-craft">https://groups.google.com/forum/#!forum/api-craft</a></li>
						<li>HAL Browser - <a href="http://haltalk.herokuapp.com">http://haltalk.herokuapp.com</a></li>
						<li>AngularJS hypermedia client: angular-hy-res - <a href="https://github.com/petejohanson/angular-hy-res">https://github.com/petejohanson/angular-hy-res</a></li>
						<li>Slides - <a href="http://petejohanson.github.io/nerdfest-2014-hypermedia-slides">http://petejohanson.github.io/nerdfest-2014-hypermedia-slides</a></li>
					</ul>
				</section>
			</div>

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.min.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});

		</script>

	</body>
</html>
